.card-body{
    color: black;
    background-color: whitesmoke
}
.card-title{
    background-color: white;
    color: black;
    border-radius: 20px;
    text-align: center;
    
}
.button-card{
    border-radius: 50px;

}
.button-card:hover{
    color: whitesmoke;
    background-color: black;
    border-radius: 50px;

}
.card{
    border-radius: 30px;
}